
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Gnostice/default.theme.css" rel="stylesheet" />
    <link href="~/Content/Gnostice/documentviewer.css" rel="stylesheet" />
    <link href="~/Content/Gnostice/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Gnostice/documentviewer.min.js"></script>
    <script src="~/Scripts/Gnostice/ViewerInitializer.js"></script>
</head>
<body>
    <div id="doc-viewer-id" style="width:100%;height:700px;"> 
    </div>
</body>
</html>
